@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';
@plugin "daisyui";

body {
  font-family: 'Inter', sans-serif;
}

a.active {
  background-color: rgb(137, 45, 226);
  color: rgb(240, 235, 235);
}
